.menu-list
{
  width: 750px;
  margin: 1px 1px;
  text-align: center;
  border: 1px solid #000;

  background:  #f39c12;
  background: linear-gradient(top,  #f39c12 0%, #ddb87a 100%);
  background: -moz-linear-gradient(top,  #f39c12 0%, #ddb87a 100%);
  background: -webkit-linear-gradient(top, #f39c12 0%,#ddb87a 100%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);

  padding: 0.5em;
   box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

  float: left; /* Обтекание по правому краю */
}


.menu-list ul li
{
  width: 100px;
  margin: 2px 2px;
  text-align: center;
  border: 1px solid #000;

  background:  #f39c12;
  background: linear-gradient(top,  #f39c12 0%, #ddb87a 100%);
  background: -moz-linear-gradient(top,  #f39c12 0%, #ddb87a 100%);
  background: -webkit-linear-gradient(top, #f39c12 0%,#ddb87a 100%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);

  padding: 0.5em;
   box-shadow:
    0 1px 15px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

  float: left; /* Обтекание по правому краю */
}

.list__image
{
    margin: 1px;
    max-width: 70px;
    height: 70px;
}

.menu-list ul li
{
  text-align: center;
  font-size: 10pt; /* Размер шрифта в пунктах */
}

.menu-list ul li:hover {
   box-shadow:
    0 1px 4px rgba(0, 0, 0, .5),
    -23px 0 20px -23px rgba(0, 0, 0, .12),
    23px 0 20px -23px rgba(0, 0, 0, .12),
    0 0 20px rgba(0, 0, 0, .5) inset;
}
