.container {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;

  }
.decorative-title {
  position: relative;
  width: 85%;
  margin: 0 auto;
  }
.decorative-title span {
  display: block;
  padding: 2rem 0.5rem 1rem;
  background-color: #3a4040;
  color: #f2f2f2;
  text-align: right;

  font: 2rem ;
  font-family: fantasy; //стиль текста
  letter-spacing: 0.7rem;

  height: 100px; /* Высота блока */
  border: 2px solid #000; /* Параметры рамки */
  background: url(http://spinning-club.ru/_pu/0/25226718.jpg) 50% 50% no-repeat; /* Добавляем фон положение относительно рамки, не повторять */
  background-size: 100% auto; /* Масштабируем фон */

}
@media (min-width: 576px) {
  .decorative-title {
    width: 100%;
  }
  .decorative-title span {
    font-size: 3rem;
  }
}
.decorative-bar {
  position: absolute;
  background-color: #f39c12;
}
.left.thick {
  left: -20px;
}
.left.thin {
  right: 0;
}
.left.vertical,
.left.horizontal.thick {
  top: -20px;
}
.left.horizontal.thin {
  top: -16px;
}
.right.thick {
  right: -20px;
}
.right.thin {
  left: 0;
}
.right.vertical,
.right.horizontal.thick {
  bottom: -20px;
}
.right.horizontal.thin {
  bottom: -16px;
}
.vertical {
  width: 8px;
  height: 80px;
}
.horizontal.thick {
  width: 30%;
  height: 8px;
}
.horizontal.thin {
  width: 80%;
  height: 2px;
}
